*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #c4c4c4;
}

@font-face {
  font-family: "Proxima";
  src: url("../fonts/proxima-nova-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/averta-demo-pe-cutted-demo-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Averta", sans-serif;
}

.container {
  max-width: 1200px 20px;
  margin-inline: auto;
  background: #FEFEFE;
  padding: 0 20px;
}

.btn {
  padding: 20px 40px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 60px;
  font-family: "Averta", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
}
.btn._primary {
  background: #2639ED;
  color: #fff;
  transition: 0.2s all ease-in-out;
}
.btn._primary:hover {
  background: #0f1fb7;
}

.header {
  padding-top: 42px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 992px) {
  .header__list {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    flex-direction: column;
    z-index: 3;
    justify-content: center;
    align-items: center;
    transform: translateX(-120%);
    transition: 0.2s all ease-in-out;
  }
}
.header__list._active {
  transform: translateX(0);
}
.header__link {
  color: #000;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
@media (max-width: 992px) {
  .header__link {
    color: #fff;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: inline-block;
  }
  .header__burger .icon-close {
    display: none;
  }
  .header__burger._active .icon-menu {
    display: none;
  }
  .header__burger._active .icon-close {
    display: inline-block;
  }
}

.main-section {
  display: flex;
  align-items: center;
  gap: 26px;
  justify-content: space-between;
  padding-bottom: 141px;
}
@media (max-width: 992px) {
  .main-section {
    align-items: stretch;
    flex-direction: column-reverse;
  }
}
.main-section__info {
  max-width: 471px;
  z-index: 2;
}
.main-section__title {
  color: #000;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Averta", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}
.main-section__desc {
  color: #565656;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 33px;
}
.main-section__img {
  position: relative;
  width: 100%;
}
.main-section__img img {
  border-radius: 0px 0px 0px 200px;
  width: 100%;
  position: relative;
}
@media (max-width: 992px) {
  .main-section__img img {
    border-radius: 6px;
  }
}
.main-section__img::before {
  bottom: -101px;
  right: 0;
  position: absolute;
  content: "";
  display: block;
  width: 178px;
  height: 178px;
  border-radius: 0px 0px 100px 0px;
  background: #FFF5DB;
}/*# sourceMappingURL=style.css.map */