*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #c4c4c4;
}

@font-face {
  font-family: "Proxima";
  src: url("../fonts/proxima-nova-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averta";
  src: url("../fonts/averta-demo-pe-cutted-demo-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Averta", sans-serif;
}

.container {
  max-width: 1200px 20px;
  margin-inline: auto;
  background: #FEFEFE;
  padding: 0 20px;
}

.btn {
  padding: 20px 30px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 60px;
  font-family: "Averta", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
}
.btn._primary {
  background: #2639ED;
  color: #fff;
  transition: 0.2s all ease-in-out;
}
.btn._primary:hover {
  background: #0f1fb7;
}

.header {
  padding-top: 42px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 992px) {
  .header__list {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    flex-direction: column;
    z-index: 3;
    justify-content: center;
    align-items: center;
    transform: translateX(-120%);
    transition: 0.2s all ease-in-out;
  }
}
.header__list._active {
  transform: translateX(0);
}
.header__link {
  color: #000;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
@media (max-width: 992px) {
  .header__link {
    color: #fff;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: inline-block;
  }
  .header__burger .icon-close {
    display: none;
  }
  .header__burger._active .icon-menu {
    display: none;
  }
  .header__burger._active .icon-close {
    display: inline-block;
  }
}

.main-section {
  display: flex;
  align-items: center;
  gap: 26px;
  justify-content: space-between;
  padding-bottom: 101px;
}
@media (max-width: 992px) {
  .main-section {
    align-items: stretch;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
}
.main-section__info {
  max-width: 471px;
  z-index: 2;
}
.main-section__title {
  color: #000;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Averta", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}
.main-section__desc {
  color: #565656;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 33px;
}
.main-section__img {
  position: relative;
  width: 100%;
}
.main-section__img img {
  border-radius: 0px 0px 0px 200px;
  width: 100%;
  position: relative;
}
@media (max-width: 992px) {
  .main-section__img img {
    border-radius: 6px;
  }
}
.main-section__img::before {
  bottom: -101px;
  right: 0;
  position: absolute;
  content: "";
  display: block;
  width: 178px;
  height: 178px;
  border-radius: 0px 0px 100px 0px;
  background: #FFF5DB;
}

.clients-section {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 94px;
}
@media (max-width: 1200px) {
  .clients-section {
    flex-direction: column;
    gap: 20px;
  }
}
.clients-section__info {
  max-width: 336px;
}
@media (max-width: 1200px) {
  .clients-section__info {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.clients-section__title {
  color: #000;
  font-family: "Averta", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
}
.clients-section__desc {
  color: #757575;
  font-family: "Averta", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 992px) {
  .clients-section__desc {
    text-align: center;
  }
}
.clients-section__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
@media (max-width: 992px) {
  .clients-section__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 576px) {
  .clients-section__list {
    grid-template-columns: 1fr;
  }
}
.clients-section__icon {
  width: 167px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-section__amazon {
  position: relative;
  top: 10px;
}

.business-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  padding-right: 43px;
  gap: 30px;
}
@media (max-width: 992px) {
  .business-section {
    flex-direction: column;
    padding-right: 0;
  }
}
.business-section__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 396px;
}
@media (max-width: 992px) {
  .business-section__info {
    max-width: 100%;
    align-items: center;
  }
}
.business-section__title {
  color: #000;
  font-family: "Averta", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .business-section__title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .business-section__title {
    max-width: 396px;
  }
}
.business-section__desc {
  color: #565656;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 992px) {
  .business-section__desc {
    max-width: 396px;
    text-align: center;
  }
}

.business-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  -moz-column-gap: 34px;
       column-gap: 34px;
}
@media (max-width: 992px) {
  .business-container {
    justify-items: center;
  }
}
@media (max-width: 768px) {
  .business-container {
    grid-template-columns: 1fr;
  }
}
.business-container__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 39px 31px 57px 31px;
  max-width: 308px;
  background: #fff;
  border-radius: 40px;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
.business-container__item:last-child::before {
  position: absolute;
  box-sizing: border-box;
  bottom: -43px;
  right: -40px;
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  border: 8.8px #FF007A solid;
  border-radius: 100px;
}
.business-container__item-first {
  position: relative;
  top: 80px;
}
@media (max-width: 992px) {
  .business-container__item-first {
    position: static;
  }
}
.business-container__title {
  color: #000;
  font-family: "Averta", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 27px;
}
.business-container__desc {
  color: #757575;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.business-container__img {
  width: 121px;
  height: 121px;
  background: red;
  border-radius: 20px;
  background: #f1f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 31px;
}

.show-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 146px;
  padding-bottom: 181px;
  gap: 50px;
}
@media (max-width: 992px) {
  .show-section {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
    padding-top: 0;
  }
}
.show-section__video {
  max-width: 550px;
  width: 100%;
  position: relative;
}
.show-section__video img {
  border-radius: 32px;
  box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.show-section__video::before {
  bottom: -64px;
  right: -41px;
  position: absolute;
  content: "";
  display: block;
  width: 129px;
  height: 129px;
  border-radius: 100px;
  background: #FFF5DB;
}
@media (max-width: 992px) {
  .show-section__video::before {
    display: none;
  }
}
@media (max-width: 992px) {
  .show-section__video {
    max-width: 100%;
  }
  .show-section__video img {
    width: 100%;
    border-radius: 50px;
  }
}
.show-section__info {
  max-width: 532px;
}
@media (max-width: 992px) {
  .show-section__info {
    max-width: 100%;
  }
}
.show-section__title {
  color: #000;
  font-family: "Averta", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.show-section__desc {
  color: #565656;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.users-section__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 113px;
}
.users-section__title {
  color: #000;
  font-family: "Averta", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
}
.users-section__desc {
  color: #757575;
  font-family: "Averta", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.users-section__people {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .users-section__people {
    justify-content: center;
  }
}
.users-section__story {
  display: flex;
  justify-content: space-between;
  max-width: 868px;
  width: 100%;
}
@media (max-width: 992px) {
  .users-section__story {
    flex-direction: column;
    align-items: center;
  }
}
.users-section__photo {
  max-width: 389px;
  width: 100%;
}
.users-section__photo img {
  border-radius: 500px 0px 500px 500px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 992px) {
  .users-section__photo img {
    border-radius: 6px;
  }
}
.users-section__info {
  max-width: 412px;
  padding-top: 84px;
}
.users-section__name {
  color: #000;
  font-family: "Averta", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 21px;
}
.users-section__text {
  color: #565656;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  max-width: 412px;
}
.users-section__users-photo {
  max-width: 245px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1200px) {
  .users-section__users-photo {
    display: none;
  }
}
.users-section__img1 {
  position: relative;
  top: 58px;
}
.users-section__img4 {
  position: relative;
  top: 80px;
}
.users-section__img5 {
  position: relative;
  left: 80px;
}

.form-section {
  display: flex;
  justify-content: center;
  padding-top: 148px;
  padding-bottom: 148px;
}
.form-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 92px;
  max-width: 1197px;
  width: 100%;
  min-height: 292px;
  border-radius: 75px;
  background: #f4f9ff;
}
@media (max-width: 1200px) {
  .form-section__container {
    flex-direction: column;
    padding: 50px;
  }
}
.form-section__info {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .form-section__info {
    align-items: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .form-section__info {
    text-align: center;
  }
}
.form-section__title {
  color: #000;
  font-family: "Averta", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
}
.form-section__desc {
  color: #757575;
  font-family: "Averta", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.form-section__form {
  position: relative;
  display: inline-block;
  max-width: 500px;
  width: 100%;
}
@media (max-width: 768px) {
  .form-section__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .form-section__form {
    width: 120%;
  }
}
.form-section__input {
  padding: 30px 34px;
  border-radius: 60px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.form-section__input:focus {
  outline: none;
}
@media (max-width: 768px) {
  .form-section__input {
    margin-bottom: 50px;
  }
}
.form-section__button {
  position: absolute;
  right: 10px;
  top: 5px;
}
@media (max-width: 768px) {
  .form-section__button {
    position: static;
    max-width: 200px;
  }
}

::-moz-placeholder {
  color: #959595;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::placeholder {
  color: #959595;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */