.business-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-right: 43px;
    gap: 30px;
    @include tablet {
        flex-direction: column;
        padding-right: 0;
    }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 396px;
    @include tablet {
        max-width: 100%;
        align-items: center;
    }
  }

  &__title {
    color: $black;
    font-family: $ff-main;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
    @include tablet {
        text-align: center;
    }
    @include tablet-small {
        max-width: 396px;
    }
  }

  &__desc {
    color: $dark;
    font-family: $ff-main;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    @include tablet {
        max-width: 396px;
        text-align: center;
    }
  }
}

.business-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 34px;
    @include tablet {
        justify-items: center;
    }
    @include tablet-small {
        grid-template-columns: 1fr;
    }
  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 39px 31px 57px 31px;
    max-width: 308px;
    background: $white;
    border-radius: 40px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    @include mobile {
      max-width: 100%;
      width: 100%;
    }
  }
  &__last-item-wrapper {
    position: relative;
    &:last-child::before {
      position: absolute;
      bottom: -43px;
      right: -40px;
      content: '';
      width: 120px;
      height: 120px;
      border: 8.8px #FF007A solid;
      border-radius: 100px;
      @include mobile {
        display: none;
      }
  }
  }
  &__item-first {
    position: relative;
    top: 80px;   
    @include tablet {
        position: static;
    }
  }

  &__title {
    color: $black;
    font-family: $ff-main;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 27px;
  }

  &__desc {
    color: $lightGrey;
    font-family: $ff-main;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__img {
    width: 121px;
    height: 121px;
    background: red;
    border-radius: 20px;
    background: #f1f7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
  }
}
