.show-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 146px;
  padding-bottom: 64px;
  @include desktop-small {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 0;
  }
  @include tablet {
    padding-top: 0;
  }

  &__video {
    max-width: 550px;
    width: 100%;
    position: relative;
    img {
      border-radius: 32px;
      box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
      position: relative;
    }
    &::before {
        bottom: -64px;
        right: -41px;
        position: absolute;
        content: '';
        display: block;
        width: 129px;
        height: 129px;
        border-radius: 100px;
        background: $semiOrange;
        @include desktop-small {
            display: none;
        }
  }
  @include desktop-small {
    max-width: 100%;
    img {
        width: 100%;
        border-radius: 50px;
    }
  }
}

  &__info {
    max-width: 532px;
    @include desktop-small {
        max-width: 100%;
      }

  }

  &__title {
    color: $black;
    font-family: $ff-main;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }

  &__desc {
    color: $dark;
    font-family: $ff-main;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}
